
.counter{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: auto;
    width: 80%;
}

.nums{
    color: white;
    font-size: 40px;
    padding: 10px;
    font-weight: bolder;
    background-color: rgb(29, 28, 28);
    width: 10%;
}